* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 200px;
    background-color: #5995ed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.cabecalho h1 {
    font-size: 70px;
}

.cabecalho p {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

section main {
    width: 100%;
    height: 400px;
}

.pic {
    height: 400px;
}

.image {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.pic legend {
    font-size: 12px;
    color: #5c5c5c;
    text-align: center;
}

.pic hr {
    margin-top: 10px;
}

.content {
    background-color: #5995ed;
}

.content .conquistas ul {
    margin-top: 45px;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
}

footer .footer_content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.footer_content .description {
    padding: 10px;
}

.footer_content .description a {
    text-decoration: none;
    color: #000000;
}

.footer_content .description a:hover {
    color: #ffad05;
}



